@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$base-red: rgb(236, 49, 49);
$tab-width: 700px;
$shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
@mixin stats-section {
  background-color: #ffffff88;
  margin: 10px;
  padding: 20px 30px;
  min-width: 200px;
  max-width: 90%;
  box-shadow: $shadow;
  border-radius: 20px;
  z-index: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;

  ::selection {
    background-color: $base-red;
    color: white;
  }
}
