@import "config";

.MuiCircularProgress-root {
  margin-top: 35vh;
  margin-left: 46vw;
}

.card-parent {
  // content-visibility: auto;
  // contain-intrinsic-size: 300px;

  .card {
    border-radius: 14px;
    &:hover {
      transform: scale(1.05);
      box-shadow: $shadow;
      z-index: 10;
    }
    transition: all 0.25s;

    img.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img {
      height: 80%;
      width: 80%;
      padding-top: 15px;
      margin: 0 auto;
      object-fit: contain;
    }

    .overlay {
      // background: rgba(0, 0, 0, 0.5);
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      user-select: none;
    }
  }
}

.pokemon-info {
  .banner {
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
  section.top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    height: 300px;

    @media (max-width: $tab-width) {
      height: 250px;
    }

    .image {
      position: relative;
      width: 17em;
      height: 17em;
      max-width: 80%;
      margin-right: 50px;
      padding-left: 30px;
      z-index: 1;
      text-align: center;

      @media (max-width: $tab-width) {
        width: 14em;
        height: 14em;
        flex: 100%;
        margin: 0 auto;
        padding: 0;
      }

      img.pokemon-pic {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .overlay {
        // background: rgba(0, 0, 0, 0.5);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        user-select: none;
      }
    }

    p.title {
      font-size: 1.5rem;
      padding-right: 30px;
      text-transform: capitalize;
      text-align: left;
      z-index: 1;

      .name {
        font-size: 2.5rem;
        display: block;
      }

      .types {
        .type {
          font-size: 0.9rem;
          color: white;
          border: none;
          border-radius: 5px;
          padding: 2px 5px;
          margin: 0 2px;
          text-transform: lowercase;
        }
        .dark.type {
          color: black;
        }
      }

      @media (max-width: $tab-width) {
        flex: 100%;
        padding: 0;
        margin-top: 10px;
        text-align: center;

        .name {
          display: inline;
          padding: 0 10px;
          font-size: 2rem;
        }
      }
    }
  }

  section.properties {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;

    .basic-info-section {
      @include stats-section();

      text-align: left;
      font-size: 1.5rem;

      @media (max-width: $tab-width) {
        font-size: 1.2rem;
      }
    }

    .ability-section {
      @include stats-section();

      text-align: center;

      h1 {
        font-size: 1.7rem;
        font-weight: 400;
        margin-bottom: 10px;
      }

      .abilities {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .ability {
          padding: 0 10px;
          font-size: 1.4rem;
        }
      }

      @media (max-width: $tab-width) {
        h1 {
          font-size: 1.5rem;
        }

        .abilities {
          .ability {
            font-size: 1.2rem;
          }
        }
      }
    }

    @media (max-width: $tab-width) {
      margin-top: 80px;
    }
  }

  section.stats {
    @include stats-section();

    position: relative;
    margin: 10px auto 50px auto;
    padding: 5px 30px;
    width: 90%;
    max-width: 700px;

    .progress-bar {
      margin: 20px 0;
      background-color: #16d31654;
      height: 10px;
      border-radius: 2px;

      * {
        background-color: #0cbe0c;
      }
    }
  }
}
