*,
:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img {
  height: 100%;
  width: 100%;
  padding: 10px;
  object-fit: contain;
}
