* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img {
  height: 80%;
  width: 80%;
  padding-top: 15px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.card {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
